<div class="col-xs-offset-1 col-sm-8 col-sm-offset-2 card form">
<h1 class="text-center">Edit Gram</h1> 
<%= simple_form_for @gram do |f| %>
  <%= f.input :picture %>
  <%= f.input :message %>
  <%= f.submit 'Update Gram', class: 'my-btn' %>
<% end %>
</div>